<h2>Test page</h2>

<div class="row" style="background-color: #ffffff;">
	<button (click)="addTask()">Create New Task</button>
	<div class="col-lg-12">
		<label>Title</label>
		<input type="text" [(ngModel)]="task.title" />
	</div>
	<div class="col-lg-12">
		<label>Description</label>
		<input type="text" [(ngModel)]="task.description" />
	</div>
	<!-- <div class="col-lg-12">
		<label>Status</label>
		<input type="text" [(ngModel)]="task.status" />
	</div> -->
	<div class="col-lg-12" *ngFor="let task of tasks">
		{{task.title}}
	</div>
</div>
