<kt-portlet>
	<!-- PORTLET LOADING | Binded to TABLE Datasource -->
	<!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
	<kt-portlet-header
		[title]="'Members list'"
		[class]="'kt-portlet__head--lg'"
	>
		<ng-container ktPortletTools>
			<button
				(click)="AddTeamMember($event)"
				class="btn btn-primary kt-margin-r-10"
				color="primary"
				mat-raised-button
				matTooltip="Save & Continue"
			>
				<span class="kt-hidden-mobile">Add Member</span>
			</button>
			<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
			<!-- mat-raised-button | Rectangular contained button w/ elevation  -->

			<div class="col-lg-4 kt-margin-bottom-20-mobile">
				<form class="kt-form kt-form--group-seperator-dashed">
					<mat-form-field class="select-form">
						<mat-select
							placeholder="List of Users"
							multiple
							(selectionChange)="selectmember($event)"
						>
							<mat-option
								*ngFor="let user of users"
								[value]="user.id"
							>
								{{ user.firstName }}
								{{ user.lastName }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</form>
			</div>
		</ng-container>
	</kt-portlet-header>
	<!-- end::Header -->
	<!-- start::Body (attribute: ktPortletBody) -->
	<kt-portlet-body>
		<!-- MATERIAL TABLE | Binded to datasources -->
		<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->

		<div class="mat-table__wrapper">
			<mat-table #table [dataSource]="dataSource">
				<!-- Position Column -->
				<!-- <ng-container matColumnDef="id">
				  <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
				  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
				</ng-container> -->
				<ng-container matColumnDef="firstName">
					<mat-header-cell *matHeaderCellDef>
						firstName
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.firstName }}
					</mat-cell>
				</ng-container>
				<!-- Lastname Column -->
				<ng-container matColumnDef="lastName">
					<mat-header-cell *matHeaderCellDef>
						lastName
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.lastName }}
					</mat-cell>
				</ng-container>
				<!-- Specialization Column -->
				<ng-container matColumnDef="specialization">
					<mat-header-cell *matHeaderCellDef>
						specialization
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.specialization }}
					</mat-cell>
				</ng-container>
				<!-- <ng-container matColumnDef="number">
					<mat-header-cell *matHeaderCellDef>
						number
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						{{ element.number }}
					</mat-cell>
				</ng-container> -->
				<!-- Role Column -->
				<!-- <ng-container matColumnDef="members">
					<mat-header-cell *matHeaderCellDef>
						Members
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<button
							mat-icon-button
							color="primary"
							[routerLink]="['members', element.id]"
							click="getMemberByTeamId(element.id)"
							class="btn btn-primary kt-margin-r-10"
							matTooltip="Members"
						>
							<mat-icon>person</mat-icon>
						</button>
					</mat-cell>
				</ng-container> -->

				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>
						actions
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<button
							(click)="RemoveTeamMember(element)"
							mat-icon-button
							color="warn"
							matTooltip="Delete user"
							matTooltip="Save & Continue"
						>
							<mat-icon>delete</mat-icon>
						</button>
					</mat-cell>
				</ng-container>
				<mat-header-row
					*matHeaderRowDef="displayedColumns"
				></mat-header-row>
				<mat-row
					*matRowDef="let row; columns: displayedColumns"
				></mat-row>
			</mat-table>
		</div>

		<!-- start: BOTTOM -->
		<div class="mat-table__bottom">
			<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
			<!-- <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner> -->
			<!-- MATERIAL PAGINATOR | Binded to dasources -->
			<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
			<mat-paginator
				#paginator
				[pageSize]="10"
				[pageSizeOptions]="[5, 10, 20]"
				[showFirstLastButtons]="true"
			>
			</mat-paginator>
		</div>
		<!-- end: BOTTOM -->
	</kt-portlet-body>
	<!-- end::Body -->
</kt-portlet>
